body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background: rgba(8, 13, 26, .85);
    backdrop-filter:blur(18px);
    border-bottom: 1px solid rgba(255, 255, 255,.08);
}